<div class="overflow-x-auto bg-gray-50 p-4 rounded-lg shadow">
  <table class="min-w-full border-collapse border border-gray-200 rounded-lg">
    <thead class="bg-gray-200 text-black">
      <tr>
        <th
          *ngFor="let col of columns"
          class="px-4 py-2 text-center font-medium"
        >
          {{ col.label }}
        </th>
        <th class="px-4 py-2 text-center font-medium">الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of paginatedData; let i = index"
        class="text-center border-t border-gray-200 hover:bg-gray-100 transition cursor-pointer"
      >
        <td *ngFor="let col of columns" class="px-4 py-2">
          {{ row[col.field] }}
        </td>
        <td class="px-4 py-2 flex justify-center gap-2">
          <!-- زر التعديل -->
          <button
            (click)="edit.emit(row)"
            class="flex items-center justify-center w-8 h-8 bg-primary text-white rounded hover:bg-primary transition"
            title="تعديل"
          >
            <!-- أيقونة قلم -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 4h2m1 1v16m-4-16v16m7-10l-4-4m0 0l-4 4m4-4v16"
              />
            </svg>
          </button>

          <!-- زر الحذف -->
          <button
            (click)="delete.emit(row)"
            class="flex items-center justify-center w-8 h-8 bg-red-500 text-white rounded hover:bg-red-600 transition"
            title="حذف"
          >
            <!-- أيقونة سلة مهملات -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="columns.length + 1" class="px-4 py-2 text-gray-500">
          لا توجد بيانات بعد
        </td>
      </tr>
    </tbody>
  </table>
</div>
