<div class="p-6 bg-gray-50 min-h-screen">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-semibold">إدارة المستخدمين</h2>

    <button
      (click)="openDialog()"
      class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 transition"
    >
      + إضافة مستخدم
    </button>
  </div>
  <app-datatable
    [columns]="columns"
    [data]="paginatedData"
    (edit)="openDialog($event)"
    (delete)="deleteUser($event)"
  ></app-datatable>

  <!-- Pagination -->
  <app-pagination
    [totalItems]="users.length"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Dialog Form -->
  <app-users-add-edit
    *ngIf="showDialog"
    [users]="selectedUser"
    [editing]="editing"
    (save)="saveUser($event)"
    (close)="closeDialog()"
  >
  </app-users-add-edit>
</div>
