<header
  class="bg-white shadow-md p-4 flex justify-between items-center"
  dir="rtl"
>
<div></div>
  <!-- User Info -->
  <div class="flex items-center justify-end space-x-4 space-x">
    <span class="hidden md:block font-semibold">Alaa</span>
    <div class="relative" (click)="toggleDropdown()">
      <img
        src="https://i.pravatar.cc/32"
        class="w-8 h-8 rounded-full cursor-pointer"
        alt="User"
      />

      <!-- Dropdown menu -->
      <div
        *ngIf="dropdownOpen"
        class="absolute right-0 mt-2 w-40 bg-white shadow-lg rounded-md overflow-hidden z-50 profile"
      >
        <button
          class="w-full text-right px-4 py-2 hover:bg-gray-100"
          (click)="goToProfile()"
        >
          الملف الشخصي
        </button>
        <button
          class="w-full text-right px-4 py-2 hover:bg-gray-100"
          (click)="logout()"
        >
          تسجيل الخروج
        </button>
      </div>
    </div>
  </div>
</header>
