<header
  class="bg-white shadow-md p-4 flex justify-between items-center"
  dir="rtl"
>
  <div>
    <img src="/images/logo.png" alt="Logo" class="h-14 w-12" />
  </div>

  <div class="flex gap-6">
    <ng-container *ngFor="let item of menuItems">
      <a
        [routerLink]="item.path"
        routerLinkActive="text-primary border-b-2 border-primary"
        class="hover:text-primary transition-colors"
      >
        {{ item.label }}
      </a>
    </ng-container>
  </div>

  <!-- </nav> -->

  <!-- User Info -->
  <div class="flex items-center space-x-4">
    <span class="hidden md:block font-semibold">Alaa</span>
    <div class="relative" (click)="toggleDropdown()">
      <img
        src="https://i.pravatar.cc/32"
        class="w-8 h-8 rounded-full cursor-pointer"
        alt="User"
      />

      <!-- Dropdown menu -->
      <div
        *ngIf="dropdownOpen"
        class="absolute left-0 mt-2 w-40 bg-white shadow-lg rounded-md overflow-hidden z-50"
      >
        <button
          class="w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="goToProfile()"
        >
          الملف الشخصي
        </button>
        <button
          class="w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="logout()"
        >
          تسجيل الخروج
        </button>
      </div>
    </div>
  </div>
</header>
