<div
  class="bg-white shadow-md flex flex-col h-screen transition-all duration-300"
  [class.w-16]="isSidebarClosed"
  [class.w-64]="!isSidebarClosed"
  dir="rtl"
>
  <!-- Logo / Title -->
  <div class=" border-b flex items-center justify-center">    <img src="/images/logo1.jpg" alt="Logo" width="79" height="80"   />
</div>

  <!-- Nav -->
<nav class="flex flex-col space-y-2 font-medium p-4">
  <a
    *ngFor="let item of menuItems"
    [routerLink]="item.path"
    routerLinkActive="bg-primary text-white rounded-md"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-3 py-2 rounded-md hover:bg-primary/10 hover:text-primary transition-colors"
  >
    {{ item.label }}
  </a>
</nav>

</div>
